/* قسم العروض */
.offers {
    padding: 50px 10%;
    background-color: #c00c0c;
    text-align: center;
}

.offers h2 {
    font-size: 2rem;
    color: #de252a;
    margin-bottom: 20px;
}

.offers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer-card {
    width: 30%;
    background: #a21717;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}

.offer-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.category {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #de252a;
    color: rgb(3, 0, 0);
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
}

.offer-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.offer-card p {
    font-size: 1rem;
    color: #ca1111;
}

/* تنسيق التقييمات */
.rating {
    color: #FFD700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* تنسيق الأسعار */
.price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
}







